body{

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.button{	
padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
	color: white;
	font-weight:bold;
}

.button:hover{
	background-color: #171717;
	

}

.button:active{
	background-color: #292929;	
}

.foot{
	color: white;
}



table{

	width: 100%;
	text-align: center;
}

h1, h2{
	text-align: center;
}


