.nav-item:hover{
	background-color: #171717;
}

.nav-item:active{
	background-color: #292929;	
}








.footer{
    background-color: black; 
    padding-top: 30px;  
    position: static;     
    bottom:0; 
    width:100%; 
}

.foot{
  color: white;
  background-color: black;   
  width: 100%;
  height: 8%;
  position: static; 
  text-align-last: center;
}