body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.header{
  background-color: black;
  padding-top: 30px;"
}

.button{	
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
	color: white;
	font-weight:bold;
}

.button:hover{
	background-color: #171717;
}

.button:active{
	background-color: #292929;	
}

table{
	width: 100%;
	text-align: center;
}

h1, h2{
	text-align: center;
}

.pub{  
  width: 80%;
}

.name, .date, .title{
  background-color: #e8e8e8;  

}

.esq{
  background-color:#c6c6c6;
  margin: 0.5%;
}

.dir{
  background-color: #e8e8e8;
}



.dir:hover{
  color: black;
  background-color:#5e5e5c; 
  


}