body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.header{
  background-color: black;
  padding-top: 30px;"
}

.header{
  background-color: black;
  padding-top: 30px;"
}

.button{	
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
	color: white;
	font-weight:bold;
}

.button:hover{
	background-color: #171717;
}

.button:active{
	background-color: #292929;	
}

<<<<<<<< HEAD:assets/css/publications.css
========
.foot{
	color: white;
  width: 100%;
  height: 100%;
}

>>>>>>>> a5036b865750e83af58f866545b7cfa0b73cb10d:code/assets/css/menus.css
table{
	width: 100%;
	text-align: center;
}

h1, h2{
	text-align: center;
<<<<<<<< HEAD:assets/css/publications.css
}

========
}
>>>>>>>> a5036b865750e83af58f866545b7cfa0b73cb10d:code/assets/css/menus.css
