*{
  margin: 0;
  padding: 0;
}

header, footer{
  background-color: black;
  width:100%;
  height:15%; 
  padding: 5px;
  position:relative; 
  
}

nav, footer ul{
  margin: 1%;  
}

nav ul, footer ul{
  padding: 0%;
}

nav li, footer li{
  display: inline;
}

nav a{
  text-align: center;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	color: white;
	font-weight:bold;
}

a:hover{
	background-color: #171717;
}

a:active{
	background-color: #292929;	
}

.container-section{
  margin: 3% 25%;
  text-align: center; 
  width: 50%;
}

article{
  background-color: blue;
}

table{
	width: 100%;
	text-align: center;
}

h1, h2{
	text-align: center;
}

.container-footer{
    position:relative; 
}

.container-footer ul li{
  display: inline;
	color: white;
  width: 100%;
  height: 100%;
}

.container-footer a{
  display: inline;
}